<span>{{ title }} app is running!</span>
<hr>

<div>
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" >
    <app-name></app-name>
    <label for="address-section">Address</label>
    <section id="address-section" formGroupName="address" >
      <label for="street">Street : </label>
      <input type="text" id="street" formControlName="street"> <br><br>

      <label for="city">City : </label>
      <input type="text" id="city" formControlName="city"> <br><br>

      <label for="country">Country : </label>
      <input type="text" id="country" formControlName="country"> <br><br>
    </section>

    <label for="skills">Skills</label>
    <section id="skills" formArrayName="skills">
      <ul>
        <li *ngFor="let skill of skills?.value; index as i" [formGroupName]="i">
          {{skill}}
          &nbsp;&nbsp;&nbsp;<span (click)="removeSkill(i)" ><button>x</button></span>
        </li>
      </ul>
      <input type="text" #newSkillInput> &nbsp;&nbsp;
      <button (click)="addNewSkill(newSkillInput.value); newSkillInput.value=''">Add Skill</button>
    </section>

    <br><br>
    <input type="submit" value="Submit" [disabled]="!profileForm.valid" >
  </form>
</div>
<hr>
<p>
  Form Value: {{ profileForm.value | json }}
</p>
<p>
  Form Status: {{ profileForm.status }}
</p>
